data/archive/
MTG_FB_tools/
ArchetypeParser/
other_file/ssh_key/
other_file/log_run.csv
.Rproj.user
.Rhistory
.RData
.Ruserdata
k_centroid.R
script.R
Source_mtg_new_card.R
temp_browser.R
Test_classif.R
Win_rate.R