.main-container {
  width: 100% !important;
  max-width: unset !important; 
  margin-left: 0;
  margin-right: auto;
}
.book .book-body .page-wrapper .page-inner {
  width: 100% !important;
  max-width: unset !important; 
  margin-left: 0;
  margin-right: auto;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 95% !important;
}